<h2>Welcome to Inventoried!</h2>

<p>
   Inventoried is an online service that allows your business to keep track of your inventory in a simple way.

   Create your Locations and then fill them with items!  Track how much of an item you have at each location.  

   At the end of the day, you can have the peace of mind knowing that everything has been <em>Inventoried</em>.

   Sign Up today!
</p>
<br>
<%# these should probably reside in the application layout %>
<%= link_to  "Sign Up", signup_path %>
<%= link_to  "Log In", login_path %>
