<%# This needs refactored to support the new Items route -- this is the old partial for the location_items new route %>
<%# This is not being implemented in the MVP %>
<%# this is being left here as a framework for future development %>
<!-- <h1>Add Item to <%= @location.name %></h1>
<% if @user_items.present? %>
   <%= render partial: "existing_item", locals: {item: @item, location: @location, location_item: @location_item, user_items: @user_items} %> 
<% end %>
<h2>Create a New Item and Add Stock to this Location</h2>
<%= render partial: "item", locals: {item: @item, url: location_items_path(@location), location_item: @location_item} %>