<h2><%= @location.name %>'s Show Page</h2>

<h4>Eventually a list of the items here</h4>

<%= form_tag location_path(@location), method: :delete do %>
  <%= submit_tag "Delete #{@location.name}" %>
<% end %>